@config "../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.no_scrollbar {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 15px;
  scrollbar-width: thin; /* "thin" or "auto" to show the scrollbar */
  scrollbar-color: #333 #111; /* thumb color and track color */
  cursor: pointer;
}

.no_scrollbar::-webkit-scrollbar {
  width: 0px; /* width of the scrollbar */
  height: 0px; /* height of the scrollbar */
}

.no_scrollbar::-webkit-scrollbar-thumb {
  background: #333; /* thumb color */
}

.no_scrollbar::-webkit-scrollbar-track {
  background: #111; /* track color */
}

/* body{
  background-color: black;
  color: white;
} */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
